<h1>Controle do arduino</h1>
<br>
<form action="/liga_led" method="post"> 
    <label for="">Ligando o LED</label>
    <button type="submit">Liga</button>
</form>
<br>
<form action="/desliga_led" method="post"> 
    <label for="">Desligando o LED</label>
    <button type="submit">Desliga</button>
</form>
<br>